.container{
    max-width: 100%;
}

.content{
    max-width: 100%;
    margin-bottom: 1rem;
}

.actions{
    padding: 1rem;
    margin: 1rem;
}

.tabla tr {
    line-height: 4rem;
}

.ver, .editar, .eliminar{

    color: white !important;
    padding: 1rem !important;
    border-radius: 0.4rem !important;

}

.reportes-segmento{
    align-items: center;
    margin-bottom: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #191919;
}

.reportes-segmento label{
    margin: 0;
}

.reporte{
    background-color: #d33c43;
    border-radius: 0.4rem !important;
    padding: 1rem 3rem;
    color: white !important;
    font: Arial !important;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-weight: 700;

    text-transform: uppercase;

    margin-left: 2rem;
}

.ver{
    background-color: #191919;
    font-size: 1.5rem;
}

.editar{
    background-color: cornflowerblue;
    font-size: 1.5rem;
}

.eliminar{
    background-color: #d33c43;
    font-size: 1.5rem;
}

@media (max-width: 1440px ){
    .ver, .editar, .eliminar{
        font-size: 1.3rem;
        padding: 0.7rem !important;
    }
    .tabla tr {
        line-height: 3rem;
        font-size: 1.4rem;
    }
}

.tabla-form tr{
    line-height: 2rem;
}

@media screen and (max-width: 850px){
    table {
        border-spacing: 0;
        display: flex;
        width: 100%;
    }
    table thead {
        border-right: solid 0.1rem #e1e1e1;
    }

    .tabla-form thead th{
        padding: 2.85rem;
    }

    table thead td:first-child, table thead th:first-child {
        padding-left: 0;
    }
    table td:first-child, table th:first-child {
        padding-left: 1.2rem;
    }
    table thead td, table thead th {
        padding-left: 0;
    }
    table td, table th {
        display: block;
    }

    table tbody {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
    }

    table tbody tr:last-child {
        border-right: none;
    }

    table tbody tr {
        border-right: solid 0.1rem #e1e1e1;
    }
}

#exportar{
    background-color: cornflowerblue !important;
    border: none !important;
}